/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	margin:0;
	padding:0;
	}
	
::selection {
    background:rgba(0,0,0,1);
	color:white;
	}
				
	
	.clear {
		clear:both;
	}
	
html {
	height: 100%;
    min-height: 100%;
}


	body {
		font-family:"Roboto", serif; 
		color:#262626;
 		-webkit-font-smoothing: antialiased;
   		 -moz-font-smoothing: antialiased;
    	-o-font-smoothing: antialiased;
    	
    	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    	transition: width 2s;
    	
/*        background: url(images/bg.jpg);*/
        background-color: #FEFCFA;
        background-size:cover;
	background-position:center;
	background-attachment:fixed;

	}


/* -------------------------------- header ------------------------*/
	
	
	h1 {
		font-weight:200;
		float:left;
		opacity:1;
		font-family:'Roboto';
		font-weight:bold;
        font-size: 3em;
		padding:15px 20px 10px 0px;
		margin-left:3%;
        margin-top:85px;
        height:100px;
	}

	h1.mobile {
		display:none;
	}
    	
    	a.name-link {
    		color:#656464;
    		text-decoration:none;
    		}
    		
    		a.name-link:hover {
                color:#a53140;
				
	 			}

	header {
		z-index:9238;
		/*margin-top:60px;*/
		font-size: 1.3em;
		position:fixed;
		width:100%;
		opacity:1;
        height:200px;
        top:0px;
        background-color: #FEFCFA;
 		 	margin-top:0px;
    border-bottom-style: 1px solid #656464;
        
				}

		.content header {
			
/*			border-bottom:2px solid #f6f6f6;*/
            width:100%;
		}

		#header-content.fixed-header {
 		 	top:0px; 
 		 	margin-top:0px;
		}

/* --------------------------------nav ------------------------*/

	
	nav {
		font-weight: 300;
		padding:15px 0px 10px 20px;
		float:right;
		margin-right:18%;
        margin-top:130px;
		font-family:'Roboto';
		font-weight:bold;
        font-size:25px;
	}
	
	nav ul {
	float:left;
	}

	
	nav ul li {
			display: inline;
			list-style:none;
			display: table-cell;
 			vertical-align: middle;
			padding: 0px 0px 5px 6px;
			padding-left:30px;
 	 }

 	 	nav ul li.leftmost {
 	 		padding-left:0px;
 	 	}
 	 
 	nav ul li a {
		text-decoration:none;
		color:#656464;
	}
	
	
nav ul li a:hover  {
		color:#a53140;
		text-decoration:none;
		
	}


nav ul li a.active{
    border-bottom: 2px solid #A53140;
}
	


/* -------------------------------- content ------------------------*/
/* -------------------------------- content ------------------------*/
/* -------------------------------- content ------------------------*/


	.content {
		
		width:100%;
		margin:auto;
		position:relative;
		}
	
	
	
/* --------------------------------title and below thing ------------------------*/


#title {
	z-index:9834;
	font-family:"Roboto";
	font-weight:bold;
	padding-top:150px;
	margin-bottom:10px;
	
	line-height:2em;
	width:80%;
	float:left;
    color:#656464;
	}


/* --------------------------------main content ------------------------*/
	
.words {
	width: 90%;
	float:left;
	font-size:1em;
	margin-left:8%;
    color:#747373;
}

	h2 {
		font-size:2em;
		z-index:8743;
		font-family: "Roboto";
	}

		h2 a {
			border:0;
			text-decoration:none;
		}


.words ol {
	margin-top:-20px;
	margin-left:5%;
	margin-bottom:10px;
	width:auto;
	line-height:1.7em;
}
	.side-col ol, .side-col-top ol {
			padding:0px 20px;
	}
	
.words p {
	margin: 0px 0 30px 0px;
	line-height:1.87em;
}

	
	.words a {
        color:#747373;
		text-decoration:none;
		border-bottom: 3px solid rgb(230,230,230); 
	}

	.words a:hover {
		border-bottom: 3px solid;
        color:#747373
	}
	
	sup {
		font-size:.6em;
	}

	 p.caps {
		text-transform:uppercase;
		letter-spacing:0.1em;
		}
		
		
		
		.highlight {
			color:#a53140;
			}

		h4 {
			font-size:1.9rem;
			margin-bottom:23px;
			line-height:1.3em;
			margin-top:70px;
			font-family:"Roboto";
			font-weight:bold;
		}

		h4.notop {
			margin-top:0px;
		}
		
		.emphasis {
			font-style:italic;
			}
		
		.subtext {
			font-size:.6em;
		font-family:"Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif;
			font-weight:200;
			}
	.full-image .big-link-div {
		margin-bottom:2.5%;
		width:100%;
		clear:both;
		background-color:rgb(45,45,114);
		height:100px;
		text-align: center;
		vertical-align: middle;
		line-height: 100px;  
		font-family:"Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif;
		font-weight:bold;
		font-size:1.3em;
	}
			.full-image .big-link-div:hover {
				background-color:red;
    			transition: all 0.5s;
    			-webkit-transition: all 0.5s;
    			}

	.full-image a.big-link {
		color:white;
		clear:both;
		margin:0 auto;
	}

/* --------------------------------side columns ------------------------*/

		
.side-col-top, .side-col {
	width: 26%;
	float:right;
	margin-top:2px;
	font-size:0.8em;
	font-family:"Roboto";
	font-weight:200;
	line-height:1.65em;
	padding:0px 0 15px 0;
	margin-right:5%;
    display:inline-block;
	}

	.side-col {
		margin-top:25px;

	}

	.side-col a, .side-col-top a {
		text-decoration:none;
		color:black;
		border-bottom:2px solid #d8d8d8;
	}

	.side-col a:hover, .side-col-top a:hover {
		text-decoration:none;
		color:black;
		border-bottom:2px solid black;
	}
	
	
	.bold {
		font-family:"Roboto";
		font-style:normal;
		font-weight:bold;
		}


	.side-col-top p, .side-col p {
		margin-bottom:10px;
		padding:0px 20px;
		}
		
		.words ul {
			display: inline;
			list-style-type:square;
			padding: 0px 0px 0 6px;
			opacity:.4;
			line-height: 1.4em;
		}
		
		.words ul li {
			margin-left:60px;
			margin-top:0px;
		}
		
		p.no-space {
			margin-bottom:0px;
			padding-bottom:0px;
		}
	
/* --------------------------------left ig ------------------------*/


.left-img {
	width:45%;
	float:left;
    margin-right: 20px;
    
    
}

.left-img img{
	width:100%;
	margin:25px 0px 6% 0px;
	}


/* --------------------------------full imge ------------------------*/


.full-image img,
.full-image-width img{
	width:100%;
	padding-bottom:2.3%;
	padding-top:0px;
	}
	
	
	.full-image{
		width:62.5%;
		clear:both;
		margin: 0px 0px 2.3% 0px;
        float:left;
        display:inline-block;
        margin-top: 20px;
	}
	
	.full-image .half-right {
		width:48.8%;
		float:right;
	}
	
	.full-image .half-left {
		width:48.8%;
		float:left;
		margin-right:1.4%;
	}
	
	.full-image .third {
		width:30%;
		height:300px;
		float:left;
		margin-right:1.4%;
	}
	
	.full-image img.notop, .left-img img.notop {
		margin-top:0px;
		padding-top:0px;
	}

	.full-image img.nobottom, .left-img img.nobottom {
		margin-bottom:0px;
		padding-bottom:0px;
	}
	
	.bottom25 {
		margin-bottom:25px;
	}
	
	.bottom15 {
		margin-bottom:15px;
	}

	.top20 {
		margin-top:20px;
		padding-top:15px;
	}

	.top2-5 {
		margin-top:2.5%;
	}

	.bottom2-5 {
		margin-bottom:2.5%;
	}

	/* --------------------------------left ig ------------------------*/

	#media-player {
		padding-bottom:2.3%;
	}
	

	.videoWrapper {
	position: relative;
	padding-bottom: 64.76%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img.play-button {
	margin: 0 auto;
	margin-top:-58%;
	position:absolute;
	width:42%;
	left:29%;
	text-align:center;
	opacity:0.6;
}

 img.play-button:hover {
	opacity:0.9;
}


	/* --------------------------------slides ------------------------*/

	.words .bxslider {	
			margin: 0px;
			padding: 0px;
	}

	.words .bxslider img {
			margin: 0px;
			padding:0px;
	}
	
	.words .bxslider a {
	border:0;
	}
	
	.words .bxslider ul li {
		opacity:1;
		margin:0;
		margin-left:0;
		position: intial;
		}
		
		.words .bxslider ul li a {
		opacity:1;
		margin:0;
		}
		
		.italic {
		font-style:italic;
		}
	
	/* --------------------------------pull quote ------------------------*/

div.pull-out {
	padding: 10px 20px 10px 30px;
	float:left;
	margin-bottom:30px;
	width:95%;
	border-left:7px solid #262626;
		}
	
	.words .pull-quote {
		font-weight:300;
		font-size:1.0em;
		line-height:1.4em;
		font-style:italic;
		margin-bottom:10px;
	}
	
	.pull-out .credit {
		font-family:"Maison Neue Light", Helvetica, Arial, Sans-Serif, sans-serif;
		font-weight:200;
		font-size:.64em;
		text-transform: uppercase;
		letter-spacing:0.12em;
		margin:0px 0 10px 8px;
		
	}
	
	
	
	
		
/* --------------------------------slider ------------------------*/


#slider img {
	margin-bottom:0;
  width:100%;
	margin-left:0px;
	margin-top:0px;
}

.words .slider-wrapper a {
	border-bottom:0;
}

.words .slider-wrapper a:hover {
	border-bottom:0;
	}


.notop {
	margin-top:0;
	padding-top:0;
}

.words img.nobottom, .full-image img.nobottom, .full-image.nobottom{
	margin-bottom:0;
	padding-bottom:0;
}


.top110 {
	margin-top:110px;
}


/* --------------------------------about ------------------------*/


	#title .about {
		max-width:850px;
	}


/* --------------------------------resume ------------------------*/

.col-1, .col-2, .col-3 {
	margin-left:2%;
	width:25.5%;
	float:left;
}

.col-1 {
	margin-left:5%;
}

.col-3 {
	float:right;
	margin-right:5%;
}

.resume-link {
	border:2px solid ;
	padding:5px 20px;
}

a.resume-link {
	color:#a53140;
	border:2px solid #a53140;
	text-decoration:none;
}

.resume-link:hover {
	border:2px solid black;
	padding:5px 20px;
	background-color:black;
	color:white;
}

/* --------------------------------side links ------------------------*/


a .left-link .fa, a .right-link .fa {
	font-size:2em;
	color:rgb(200,200,200);
}

	a .left-link .text, a .right-link .text {
		font-family: "Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif;
		font-weight:bold;
		text-transform:uppercase;
		font-size:10px;
		color:rgb(200,200,200);
	letter-spacing:0.1em;
	margin-left:10px;
	}

.left-link {
	position:fixed;
	height:80px;
	width:50px;
	left:0;
	top:46%;
}

.left-link .fa, .right-link .fa {
		top:105px;
		margin-left:15px;
		line-height:40px;
		margin-top:20px;
}

	.left-link .fa {
		margin-left:10px;
		margin-right:auto;
	}

.right-link {
	position:fixed;
	height:80px;
	width:50px;
	right:0;
	top:46%;
}

.left-link:hover .fa, .right-link:hover .fa, .left-link:hover .text, .right-link:hover .text {
	color:black;
}

.left-link:hover .unicode, .right-link:hover .unicode {
	color:white;
}

/*-----------------------------------------------*/

	/* --------------------------------footer ------------------------*/


	.center {
		margin: 0 auto;
		text-align:center;
		}
	
	footer {
		background-color:#fcfcfc;
		height:auto;
		min-height: 505px;
		clear:all;
		width:100%;
		bottom:0;
		float:left;
		padding-bottom:50px;
		padding-top:150px;
		}
		
		.aboutme ul li {
			display: inline;
			list-style:none;
			display: table-cell;
 			vertical-align: middle;
 	 }
 	 
 	 		/* --------------------------------scroll to top ------------------------*/

	footer #scrollbartop {
		width: 100%;
		background-color: white;
		height:65px;
		clear:both;
		bottom:0;
		padding-top:12px;
		margin-top:2.5%;

    	}	

    	a #scrollbartop .toptext {
			font-family: "Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif;
			font-weight:bold;
			text-transform:uppercase;
			font-size:10px;
			letter-spacing:0.1em;
			text-decoration:none;
			display:none;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;	
		}

		footer a #scrollbartop .fa {
				color:black;
			}
	
		footer a #scrollbartop:hover .toptext {
			display:block;	
	    }
		

			footer h4 {
				margin-bottom:-30px;
			}
			

 	 
 	 ul.icons {
 	 	margin-left:0px;
 	 	}
 	 
 li i.fa   {
		text-decoration:none;
		}
	
	#scrollbartop {
		width:100%;
	}
	p.center {
		width:51px;
		margin-top:;
	}

	p.center, .center, i.center {	
		text-align:center;
		margin: 0 auto;
	}


	.fa {
		color:#262626;
		float:left;
 	 	margin: 10px 20px 10px 0;
		}
		
		.fa-twitter:hover {
			color:#55aace;
			}
			
		.fa-dribbble:hover {
			color:#ea4c89;
			}
			
		.fa-behance:hover {
			color:#1769ff;
			}
		
		.fa-tumblr:hover {
			color:#35465c;
			}	

		.fa-pinterest:hover {
			color:#cc2127;
			}	
 	 	
 	 		.fa-linkedin:hover {
			color:#0976b4;
			}
			

/* --------------------------------projects parallel ------------------------*/

			
	
			.words.aboutme {
				width:30%;
				float:left;
				margin-left:5%;
				margin-top:60px;
			}

				.words.aboutme h4:hover {
					color:RGBA(117, 186, 210, 0.9);
				}

	.aboutme ul {
		margin-left:5%;
		font-size:.65em;
		}
	
		.words.aboutme h4 {
			margin-bottom:-20px;
		}

/*-----------------------------------------------*/

footer h2 {
		font-size:2.9em;
		z-index:8743;
		font-family: "Roboto";
		font-weight:bold;
		margin-left:5%;
		margin-top:4%;
	}


		h2 > i.fa {
			font-size:0.45em;
			float:none;
			margin-left:15px;
			display:inline-block;
			vertical-align:middle;
		}



/*------temporary hack */

.hack {
	width:100%;
	clear:both;
	height:50px;
}

.image {
    z-index: 0;
    width:32%;
    height:280px;
    position:relative;
    min-width: 48.75px;
    min-height: 100px;
    margin-left:0.66%;
    margin-right:0.66%;
    margin-top:1.32%;
    display: inline-block;
    float:left;
	font-family:"Roboto";
	font-weight:bold;
	font-size:1.2em;
	line-height:1.4em;
}

	img.right, .image.right, .image.top{
				float:right;
			}

	/*		.image.top {
				margin-top:-5%;
			}
*/
			#title {
				padding-bottom:130px;
				margin-bottom:0;
			}
	
	.image.middle {
    display: block;
    margin-left: 0.5%;
    margin-right: 0.5%; 
    padding-left:0.5%;
    }		

.image img {
    width:100%;
	height: 100%;
    vertical-align:top;
    padding-top:0px;
    margin-top:0px;
    border-style: solid 1px black;
}

.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}

.image:before {
content: attr(data-content);
width: 100%;
color: #fff;
z-index: 1;
top: 0;
padding: 5% 25% 5% 5%;
text-align: left;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

.image.stockup:after {
    background:rgba(165,49,64,0.9);
}

.image.messe:after {
    background:rgba(165,49,64,0.9);
}

.image.nasa:after {
	background:RGBA(165,49,64,0.9);
}

.image.game:after {
	background:RGBA(165,49,64,0.9);
}

.image.ktypo:after {
	background:RGBA(165,49,64,0.9);
}

.image.triangle:after {
  	background:RGBA(165,49,64,0.9);
}

.image.greenly:after {
    background:rgba(165,49,64,0.9);
}

.image.food:after {
    background:rgba(165,49,64,0.9);
}

.image.fuji:after {
    background:rgba(165,49,64,0.9);
}

.image.howhaus:after {
    background:rgba(165,49,64,0.9);
}

.image.current:after {
    background:rgba(165,49,64,0.9);
}

.image.tassist:after {
    background:rgba(165,49,64,0.9);
}



.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    top:0;   
    text-align:left; 
}

.image:hover:after, .image:hover:before {
    opacity:1;
}
		

.mainstuff {
    align-content: center;
    margin-top:70px;
}

.role {
    float:left;
    margin-left: 3.15%;
    margin-top: 120px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    color:#656464;
    display: block;
    position:fixed;
    
}

.design {
    color:#a53140;
    display:inline-block;
}

.develop {
    color:#a53140;
    display:inline-block;
}

.after {
    display: block;
    margin-top: 210px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inset;
    border-width: 1px;
    border-top: 1px solid #ccc;
}

.endmain {
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 4.5%;
    border-top: 1px solid #ccc;
}

.ongoing {
    margin-left:10%;
    margin-bottom:2%;
    font-style:"Roboto";
    font-size:25px;
    font-weight: bold;
    color:#656464;
}

.projectlist {
    list-style-type: disc;
    margin-left: 15%;
    margin-bottom: 5%;
    font-family: 'Roboto';
    font-size:20px;
}

.copyright {
width:100%;
margin: auto;
margin-bottom: 5%;
font-family: "Roboto", Courier, mono;
font-size: 14px;
color: #373737;
text-align: center;
}

.copy {
    width:100%;
    align-content: center;
    font-family: "Roboto";
    margin-top: 30px;
    margin: auto;
}

#header-content-other {
		z-index:9238;
		/*margin-top:60px;*/
		font-size: 1.3em;
		position:fixed;
		width:100%;
		opacity:1;
        height:90px;
    top:0px; 
    background-color: #FEFCFA;
 		 	margin-top:0px;
    border-bottom-style: 1px solid #656464;
}

.other {
    font-weight:200;
		float:left;
		opacity:1;
		font-family:'Roboto';
		font-weight:bold;
        font-size: 1em;
		padding:15px 10px 10px 0px;
		margin-left:8%;
        margin-top:15px;
        height:100px;
}

.name-link-other {

    		color:#656464;
    		text-decoration:none;
}

.othernav {
    font-weight: 300;
		padding:15px 0px 10px 20px;
		float:right;
		margin-right:10%;
        margin-top:20px;
		font-family:'Roboto';
		font-weight:bold;
        font-size:20px;
}

.roleother {
    display: block;
     float:left;
    margin-left: 8%;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    color:#656464;
    margin-top: 15px;
    position:fixed;
    
}

.afterother {
    display: block;
    margin-top: 250px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inset;
    border-width: 1px;
    border-top: 1px solid #ccc;
}

#desdev {
   top:45px; 
}

.name-link-other:hover {
    color:#a53140
    
}

.poem {
    font-family: 'Roboto';
    font-style: italic;
    line-height: 1.2em;
    color:#a2a1a1;
    margin-right:10%;
    float:right;
    margin-top:200px;
    font-size: 18px;
}

.myimage {
    width: 700px;
    clear:both;
    margin: 0px 0px 2.3% 0px;
    
}

.para {
    width:100%;
    float:left;
    display:inline-block;
    margin-bottom:20px;
    margin:auto;
}

.author {
    font-family: 'Roboto';
    line-height: 1.2em;
    color:#a2a1a1;
    margin-right:7%%;
    float:right;
    margin-top:20px;
    font-size: 16px;
}

.poems {
    font-family: 'Roboto';
    line-height: 1em;
    color:#a2a1a1;
    margin-right:10%;
    float:right;
    margin-top:10px;
    font-size: 15px;
}

.sides {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:10%;
    float:left;
    margin-top:-280px;
    font-size: 16px;
    align-content: left;
    margin-left:72%;
}

.sides a {
    color:#747373;
    text-decoration: none;
}

.sides a:hover {
    border-bottom: 1px solid #747373;
}

.sides2 {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:10%;
    float:left;
    margin-top:-200px;
    font-size: 16px;
    align-content: left;
    margin-left:72%;
}

.sides2 a {
    color:#747373;
    text-decoration: none;
}

.sides2 a:hover {
    border-bottom: 1px solid #747373;
}

.resume {
    max-width: 700px;
    font-family: "Roboto";
}

.coverimage {
    margin-top:100px;
    width:100%;
    
}

.slider {
    top:50%;
}

.words_projects {
    width: 90%;
	float:left;
	font-size:1.2em;
	margin-left:8%;
    color:#747373;
    margin-top:5%;
    line-height: 1.3em;
    margin-bottom:4%;
}

.side_info {
    font-family: 'Roboto';
    font-style: italic;
    line-height: 1.2em;
    color:#a2a1a1;
    margin-right:10%;
    font-size: 18px;
    width:300px;
    float:right;
    display:inline-block;
    margin-bottom:20px;
}

.stay_left {
    float:left;
    display:inline-table;
    width:62.5%;
}

.stay_right {
    float:right;
    display:inline-block;
    margin-right: 5%;
}

.side_head {
    color:black;
}

.head_divide {
    width:90%;
    margin:auto;
    color:"black";
    
}

#sub_title {
	font-family:"Roboto";
	font-weight:bold;
	padding-top:39px;
	margin-bottom:10px;
	line-height:2em;
	width:80%;
    color:#656464;
    float:left;
}

.para_full {
    width:90%;
    float:left;
    display:inline-block;
    margin-bottom:30px;
}

.space {
    margin-top:5%;
}

.problem {
    width:90%;
    float:left;
    display:inline-block;
    margin-bottom:80px;
    font-style: italic;
}

.full-image-width {
    width:92%;
    height:700px;
		margin: 0px 0px 2.3% 0px;
        float:left;
        
}

.last {
    margin-bottom: 80px;
}

.side_des {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:10%;
    float:right;
    margin-top:200px;
    font-size: 18px;
}

.tools {
    width:90%;
    float:left;
    display:inline-block;
    margin-bottom:30px;
    margin-top:20px;
    font-style: italic;
}

.collage {
width: 45%;
height: 100%;
position: relative;
min-height: 150px;
display: inline-block;
float: left;
margin-right: 2.4%;
margin-top: 2.5%;
}

.video {
    margin-top:50px;
    padding-top: 50px;
}

.full-image-width-affinity {
    width:92%;
    height:700px;
		margin: 0px 0px 2.3% 0px;
        float:left;
}



.comingup {
    margin-bottom: 200px;
}

.bordering {
    border:1px solid black;
}

#title_resume {
    z-index:9834;
	font-family:"Roboto";
	font-weight:bold;
	padding-top:150px;
	margin-bottom:10px;
	line-height:2em;
	width:80%;
    color:#656464;
    font-size: 1.3em;
}


.content_index {
    width:85%;
		margin:auto;
		position:relative;
}

.color {
    
    width: 100%;
    height:100px;
    position:fixed;
    z-index: 9000;
}

@media screen and (max-width:1100px){
   
    .image {
    width:32%;
    height:260px;
    margin-left:0.66%;
    margin-right:0.66%;
    margin-top:1.32%;
}
    
    .full-image-width {
    width:92%;
    height:500px;
		margin: 0px 0px 2.3% 0px;
        float:left;
        
}
    
}

@media screen and (max-width:1000px){
   
    .image {
    width:32%;
    height:240px;
    margin-left:0.66%;
    margin-right:0.66%;
    margin-top:1.32%;
}
    
     .full-image-width {
    width:92%;
    height:500px;
		margin: 0px 0px 2.3% 0px;
        float:left;
        
}
    
    .side_des {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:5%;
    float:right;
    margin-top:100px;
    font-size: 16px;
}
    
}

@media screen and (max-width:960px){
   
    .image {
    width:48%;
    height:300px;
    margin-left:1%;
    margin-right:1%;
    margin-top:2%;
}
    
    /*** WORK ***/
    
    .words_projects {
    width: 90%;
	float:left;
	font-size:1em;
	margin-left:7%;
    color:#747373;
    margin-top:5%;
    line-height: 1.3em;
    margin-bottom:4%;
}
    .stay_right {
    float:right;
    display:inline-block;
    margin-right: 0%;
}
    
    .side_info {
    font-family: 'Roboto';
    font-style:italic;
    line-height: 1.1em;
    color:#a2a1a1;
    margin-right:0%;
    font-size: 14px;
    width:250px;
    float:right;
    display:inline-block;
    margin-bottom:20px;
}
    
     .full-image-width {
    width:92%;
    height:500px;
		margin: 0px 0px 2.3% 0px;
        float:left;
        
}
    
    .side_des {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:5%;
    float:right;
    margin-top:100px;
    font-size: 15px;
}

    
}

@media screen and (max-width:850px){
    
    header {
		z-index:9238;
		/*margin-top:60px;*/
		font-size: 1.3em;
		position:fixed;
		width:100%;
		opacity:1;
        height:200px;
        top:0px;
        background-color: #FEFCFA;
 		 	margin-top:0px;
    border-bottom-style: 1px solid #656464;
        
				}
    
    h1 {
		font-weight:200;
		float:left;
		opacity:1;
		font-family:'Roboto';
		font-weight:bold;
        font-size: 2.8em;
		padding:15px 20px 10px 0px;
		margin-left:3%;
        margin-top:85px;
        height:100px;
	}
    
    nav {
		font-weight: 300;
		padding:15px 0px 10px 20px;
		float:right;
		margin-right:18%;
        margin-top:130px;
		font-family:'Roboto';
		font-weight:bold;
        font-size:23px;
	}
    
    	nav ul li {
			padding: 0px 0px 5px 6px;
			padding-left:20px;
 	 }
    
    .role {
    float:left;
    margin-left: 3.15%;
    margin-top: 120px;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 400;
    color:#656464;
    display: block;
    position:fixed;
    
}
    
    .after {
    display: block;
    margin-top: 210px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inset;
    border-width: 1px;
    border-top: 1px solid #ccc;
}
   
    .mainstuff {
    align-content: center;
    margin-top:48px;
}
    
    .image {
    width:48%;
    height:270px;
    margin-left:1%;
    margin-right:1%;
    margin-top:2%;
}
    
    /*** WORK ***/
    
    .words_projects {
    width: 90%;
	float:left;
	font-size:0.9em;
	margin-left:7%;
    color:#747373;
    margin-top:5%;
    line-height: 1.3em;
    margin-bottom:4%;
}
    
    .side_info {
    font-family: 'Roboto';
    font-style:italic;
    line-height: 1.1em;
    color:#a2a1a1;
    margin-right:0%;
    font-size: 14px;
    width:200px;
    float:right;
    display:inline-block;
    margin-bottom:20px;
}
    
     .full-image-width {
    width:92%;
    height:380px;
		margin: 0px 0px 2.3% 0px;
        float:left;
        
}
    
       .side_des {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:5%;
    float:right;
    margin-top:100px;
    font-size: 15px;
}
    
}

@media screen and (max-width:700px){
    
        header {
        height:170px;
				}
    
    h1 {
        font-size: 2.5em;
		margin-left:3%;
        margin-top:65px;
        height:100px;
	}
    
    nav {
		margin-right:18%;
        margin-top:100px;
        font-size:21px;
	}
    
    	nav ul li {
			padding: 0px 0px 5px 6px;
			padding-left:17px;
 	 }
    
    .role {
    float:left;
    margin-left: 3.15%;
    margin-top: 90px;
    font-size: 17px;
}
    
    .after {
    margin-top: 180px;
}
   
  
   
    .image {
    width:48%;
    height:245px;
    margin-left:1%;
    margin-right:1%;
    margin-top:2%;
}
    
    .copyright {
font-size: 13px;
}
    
    /*** WORK ***/
    
    .words_projects {
    width: 90%;
	float:left;
	font-size:0.8em;
	margin-left:7%;
    color:#747373;
    margin-top:5%;
    line-height: 1.3em;
    margin-bottom:4%;
}
    
    .side_info {
    font-family: 'Roboto';
    font-style:italic;
    line-height: 1.1em;
    color:#a2a1a1;
    margin-right:0%;
    font-size: 13px;
    width:200px;
    float:right;
    display:inline-block;
    margin-bottom:20px;
}
    
     .full-image-width {
    width:92%;
    height:320px;
		margin: 0px 0px 2.3% 0px;
        float:left;
        
}
    
       .side_des {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:3%;
    float:right;
    margin-top:100px;
    font-size: 12px;
}
    
}

@media screen and (max-width:630px){
   
    header {
        height:160px;
				}
    
    h1 {
        font-size: 2.2em;
		margin-left:3%;
        margin-top:65px;
        height:100px;
	}
    
    nav {
		margin-right:18%;
        margin-top:90px;
        font-size:20px;
	}
    
    	nav ul li {
			padding: 0px 0px 5px 6px;
			padding-left:16px;
 	 }
    
    .role {
    margin-left: 3.15%;
    margin-top: 83px;
    font-size: 15px;
    }
    
    .after {
    margin-top: 170px;
}
   
    
    .image {
    width:48%;
    height:210px;
    margin-left:1%;
    margin-right:1%;
    margin-top:2%;
}    
    
    .copyright {
font-size: 12px;
}
     /*** WORK ***/
    
    .words_projects {
    width: 90%;
	float:left;
	font-size:0.8em;
	margin-left:7%;
    color:#747373;
    margin-top:5%;
    line-height: 1.3em;
    margin-bottom:4%;
}
    
    .side_info {
    font-family: 'Roboto';
    font-style:italic;
    line-height: 1.1em;
    color:#a2a1a1;
    margin-right:0%;
    font-size: 13px;
    width:180px;
    float:right;
    display:inline-block;
    margin-bottom:20px;
}
    
    .full-image-width {
    width:92%;
    height:300px;
		margin: 0px 0px 2.3% 0px;
        float:left;
        
}
    
       .side_des {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:3%;
    float:right;
    margin-top:100px;
    font-size: 12px;
}
    
}

@media screen and (max-width:580px){
   
    	header {
		font-size: 0.9em;
		position:fixed;
        height:100px;
        top:0px;
        width:100%;
				}
    
    
	h1 {
        font-size: 2.8em;
		padding:15px 20px 10px 0px;
		margin-left:3%;
        margin-top:25px;
        height:40px;
	}
    
    	
	nav {
		
		float:right;
		margin-right:18%;
        margin-left:0%;
        margin-top:50px;
        font-size:20px;
	}
    
    nav ul li {
			padding: 0px 0px 5px 6px;
			padding-left:15px;
 	 }
    
    .role {
    margin-left:2%;
    margin-top: 53px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color:#656464;
    display: block;
    position:fixed;
    
}
    
    .after {
    margin-top: 120px;
    margin-left: 15%;
    margin-right: 15%;
}    
    
    .mainstuff {
    margin-top:20px;
}
    
    .image {
    width:90%;
    height:360px;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
}
    
    .copyright {
font-size: 11px;
}
    
     /*** WORK ***/
    
    .words_projects {
    width: 90%;
	float:left;
	font-size:0.9em;
	margin-left:7%;
    color:#747373;
    margin-top:5%;
    line-height: 1.3em;
    margin-bottom:4%;
}
    
    .stay_left {
    float:left;
    display:inline-table;
    width:100%;
}
    
    .stay_right{
    float:left;
    display:inline-block;
    margin-right: 5%;
}
    
      .side_info {
    font-family: 'Roboto';
    font-style:italic;
    line-height: 1.1em;
    color:#a2a1a1;
    margin-right:0%;
    font-size: 13px;
    width:180px;
    float:left;
    display:inline-block;
    margin-top:20px;
          margin-bottom: 0px;
}
    
    .problem {
    width:90%;
    float:left;
    display:inline-block;
    margin-bottom:10px;
    font-style: italic;
}
    
    .side_des {
    font-family: 'Roboto';
    line-height: 1.2em;
    margin-right:3%;
    float:right;
    margin-top:100px;
    font-size: 12px;
}
    
    .full-image-width {
    width:92%;
    height:300px;
		margin: 0px 0px 2.3% 0px;
        float:left;
        
}
    
}

@media screen and (max-width:550px){
        
	h1 {
        font-size: 2.5em;
		padding:15px 20px 10px 0px;
		margin-left:3%;
        margin-top:25px;
        height:40px;
	}
    
    	
	nav {
		float:right;
		margin-right:18%;
        margin-left:0%;
        margin-top:50px;
        font-size:18.5px;
	}
    
    nav ul li {
			padding: 0px 0px 5px 6px;
			padding-left:13px;
 	 }
    
    .role {
    margin-left:2%;
    margin-top: 53px;
    font-size: 13px;   
}
    
    
    .image {
    width:90%;
    height:340px;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
}
    
}

@media screen and (max-width:500px){
    
    	h1 {
        font-size: 2.5em;
		padding:15px 20px 10px 0px;
		margin-left:3%;
        margin-top:25px;
        height:40px;
	}
    
    	
	nav {
		float:right;
		margin-right:15%;
        margin-left:0%;
        margin-top:50px;
        font-size:18.5px;
	}
    
    nav ul li {
			padding: 0px 0px 5px 6px;
			padding-left:13px;
 	 }
    
    .role {
    margin-left:2%;
    margin-top: 53px;
    font-size: 13px;   
}
   
    .image {
    width:90%;
    height:320px;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
}
    
}

@media screen and (max-width:480px){
    
    	h1 {
        font-size: 2.5em;
		padding:15px 20px 10px 0px;
		margin-left:0%;
        margin-top:25px;
        height:40px;
	}
    
    	
	nav {
		float:right;
		margin-right:13%;
        margin-left:0%;
        margin-top:50px;
        font-size:18.5px;
	}
    
    nav ul li {
			padding: 0px 0px 5px 6px;
			padding-left:11px;
 	 }
    
    .role {
    margin-left:-2%;
    margin-top: 53px;
    font-size: 13px;   
}
   
    .image {
    width:90%;
    height:300px;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
}
    
}

@media screen and (max-width:450px){
    
    h1 {
        font-size: 2.3em;
		padding:15px 20px 10px 0px;
		margin-left:-2%;
        margin-top:25px;
        height:40px;
	}
    
    	
	nav {
		float:right;
		margin-right:10%;
        margin-left:0%;
        margin-top:50px;
        font-size:17.5px;
	}
    
    nav ul li {
			padding: 0px 0px 5px 6px;
			padding-left:9px;
 	 }
    
    .role {
    margin-left:-4%;
    margin-top: 48px;
    font-size: 13px;   
}
   
    .image {
    width:90%;
    height:265px;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
}
    
    .copyright {
font-size: 10px;
}
    
}

@media screen and (min-width:1300px) {
    
  .content_index {
    width:1105px;
		margin:auto;
      position:relative;
}
  
    .color {
    
    width: 1105px;
    height:100px;
    position:fixed;
    z-index: 9000;
}
    
    header {
		z-index:9238;
		/*margin-top:60px;*/
		font-size: 1.3em;
		position:fixed;
		width:1105px;
		opacity:1;
        height:200px;
        top:0px;
        background-color: #FEFCFA;
 		 	margin-top:0px;
    border-bottom-style: 1px solid #656464;
        
				}

nav {
		padding:15px 0px 10px 20px;
		float:right;
		margin-right:7%;
        margin-top:130px;
	}
    
    body{
       max-width:1300px;
        margin: auto;
    }
    
}